<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue data binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .she{
            background-color: yellow;
            padding:20px;
        }
        .she>label{
            display: block;
        }
        table{
            border:1px;
        }
    </style>
</head>
<body>
    <div id="he">
        <div>
                <input type="text" v-model="num1"> + <input type="text" v-model="num2"> = <span v-if="sum">{{sum}}</span>
        </div>
        <div>
                <input type="text" v-model="num1"> + <input type="text" v-model="num2"> = <span >{{add()}}</span>
        </div> 
        <div>
            <label for="">action:  <input type="text" v-model="action"></label>
            <ul v-if="action && action=='me'">
                <Li v-for="name in list">{{name}}</Li>
            </ul>
        </div>      
    </div>

    <script>
        var vm = new Vue({
            el:"#he",
            data:{
                url:"http://www.hao123.com",
                alt:"hao123",
                pre:"你正在",
                action:"",
                num1:"",
                num2:"",
                list:[]
            },
            computed:{
                sum:function(){
                    console.log("computed");
                    return parseFloat(this.num1,10) + parseFloat(this.num2,10);
                }
            },
            methods:{
                add: function (){  
                    console.log("method");
                    return parseFloat(this.num1,10) + parseFloat(this.num2,10);
                },
                doover:function(){
                    this.action = "mouseover";
                },
                doout:function(){
                    this.action = "mouseout";
                },
                doclick:function(){
                    this.action = "button click";
                },
                typing:function(){
                    this.action="typing";
                }
            },
            watch:{
                action:function(n,o){
                    console.log(n,o);
                    if(n && n == "me"){
                        var promise = new Promise(function(resolve,reject){
                            setTimeout(function(){
                                resolve(["china","japan","usa"]);
                            },2000);
                        });
                        promise.then(function(result){
                            vm.list = result;
                        });
                    }
                }
            }
        });



    </script>
</body>
</html>